* {
  background-color: grey;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: grey;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.Box {
  padding: 3px;
  height: 100px;
  display: "flex";
}

div,
.desc {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
}
